
/* ---------------------max 1200 px----------------------- */

@media (max-width: 1200px) {
  .partners{
    &__items {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
      row-gap: 20px;
    }

    &__card {
      background-color: #fff;
      width: 100%;
    }
  }

  .foods {
    overflow-x: auto;
    scrollbar-width: none;


    &__asia {
      white-space: nowrap;
    }
  }

  .intro__grafica {
    background-size: 500px 600px;
    max-width: 560px;
    width: 100%;
  }

  .service__grafica {
    margin-right: 50px;
  }

  .app__grafica {
    max-width: 520px;
    width: 100%;
    height: 330px;
  }

  .footer {
    padding-bottom: 0;
  }
}

/* ---------------------max 992 px----------------------- */

@media (max-width: 992px) {
.header {
  padding: 30px 0;
}

.service,
.food__section,
.partners,
.footer,
.intro {
  padding: 30px 0;
}

  .intro__items {
    display: block;
    position: relative;
    z-index: 0;
    max-width: 100%;
    width: 100%;
    padding: 165px 0;

    &::before {
      content:'';
      background-image: url('../images/main_intro.png');
      background-repeat: no-repeat;
      background-size: 560px 660px;
      opacity: 0.2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 12%;
      right: 0;
      margin: 0 auto;
      z-index: 0;
      max-width: 560px;
      width: 100%;
      height: 660px;
    }
  }

  .intro__items .intro__introduction {
    max-width: 560px;
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 1;
  }

  .intro__grafica {
    display: none;
  }

  .service__inner {
    position: relative;
    display: block;
    padding: 80px 0;

    .service__grafica {
      display: none;
    }

    &::before {
      content:'';
      background-image: url('../images/service.png');
      background-repeat: no-repeat;
      background-size: 560px 660px;
      opacity: 0.2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 0;
      max-width: 560px;
      width: 100%;
      height: 660px;
    }

    .service__content {
      position: relative;
      z-index: 2;
      margin-left: 15px;
    }
  }

.foods {
  padding: 2px 2px 30px 2px;
}

.food {
 grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners__items {
  grid-template-columns: 1fr 1fr;
}

.slider button.slick-next.slick-arrow {
  bottom: -8px;
  right: 36%;
}

}
.slider button.slick-prev.slick-arrow {
  bottom: -8px;
  left: 36%;
}

.app {
  position: relative;

  &__grafica {
    display: none;
  }

  &__items {
    display: block;

    &::before {
      content: '';
      background-image: url('../images/app.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      opacity: 0.2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 95%;
      width: 100%;
    }

  }

  .review {
    padding: 30px 0 60px;
  }

  .app__desription {
    position: relative;
    z-index: 2;
    margin-left: 15px;
  }

}

 .footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 25px;
 }

