$accent: #ff6838;
$defalt: #31352b;
$secondary: #fff;
$silver: #f9faff;
$dblue: #363853;
$silver: #f9faff;
$dsilver: #ececec;
$gray: #c2c2c2;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-italic-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
